SUPABASE_URL=https://nvmzmlaqojpagjefoksq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52bXptbGFxb2pwYWdqZWZva3NxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNDcyMTEsImV4cCI6MjA5NTcyMzIxMX0.D5L-2NA0eZRMvVAcTRcGxgStFWrCgRBW5Ory7gS-q8o